html{
	height: 200%;
}
body{
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	background: linear-gradient(black, #000099, #66c2ff, #bdd9ec, #09985b);
	background-size: cover;
	background-repeat: no-repeat;
}

.stars {
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation-iteration-count: infinite;
  }

.star-1 {
    margin-top: 5%;
    margin-left: 60%;
    animation-name: twinkle;
    animation-duration: 1s;
}

.star-2 {
    margin-top: 5%;
    margin-left: 5%;
    animation-name: twinkle;
    animation-duration: 0.9s;
}

.star-3 {
    margin-top: 5%;
    margin-left: 75%;
    animation-name: twinkle;
    animation-duration: 0.8s;
}

 @keyframes twinkle{
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
}

.learning-list{
	margin-top: 5%;
    margin-left: 5%;
    font-family: cursive;
    color:#ed5e2a;
    text-align: left;

}
.learning-list:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

label, ul{
	color:#ceff00;
}

.love-code{
	margin-top: 5%;
    margin-left: 5%;
}

